.ui-page {
	background: #FFFFFF !important;
}

.ui-footer {
	
}



.ui-header {
	background: #FFFFFF !important;
	border-top: none;
	border-right: none;
	border-bottom: solid;
	border-left: none;
	border-width: 3px !important;
	border-color: #5da92a !important;
}

.wrap {
	border: none; 
	margin: 0px !important;
	padding: 0px !important;
}

.banner {
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 120px;
	overflow: hidden;
	border-top: none;
	border-right: none;
	border-bottom: solid;
	border-left: none;
	border-width: 3px !important;
	border-color: #5da92a !important;
}

.banner img {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
}

.ui-icon-gear {
	background: red !important;
}

.grids div { /* all blocks */
	display: table;
	height: 80px;
	margin: auto;
}

.grids div>p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: medium;
	font-weight: bold;
}

.center-div {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.custom-navbar ul li a {
	color: black !important;
	border: 0 !important;
	text-shadow: none !important;
	background: #FFFFFF !important; /* Old browsers */
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.custom-navbar ul li a.ui-btn-active {
	color: black !important;
	border: 0 !important;
	text-shadow: none !important;
	background: #FFFFFF !important; /* Old browsers */
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#content {
	padding: 0 !important;
	position: absolute !important;
	top: 40px !important;
	right: 0;
	bottom: 40px !important;
	left: 0 !important;
}

#map_canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#show-map-button {
	padding: 10px 30px 10px 30px;
	font-size: large;
}

.store-name {
	font-size: large;
	font-weight: bold;
	display: table;
	margin: auto;
}

.store-note {
	font-size: medium;
	display: table;
	margin-top: auto;
}

.store-address {
	font-size: large;
	font-style: italic;
	white-space: normal;
	margin-bottom: 30px;
}

.how-to-go {
	font-size: medium;
	font-style: normal;
}

.info1 {
	vertical-align: middle;
	display: inline-block;
}

.info2 {
	display: block;
	margin: auto auto auto auto;
}

.back-button {
	outline: 0;
}

.header-title {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: large;
}